# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: vh83
    queue: com
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '01:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    run_surecalltrimmer:
        queue: short
        cores: 1
        walltime: '00:30'
        mem: 4
        modules:
            - 'java'
    
    align_bwa:
        queue: short
        cores: 4
        walltime: '00:30'
        mem: 8
        modules:
            - 'bwa/0.7.12'
            - 'samtools/1.3.1'
    
    run_locatit:
        queue: short
        cores: 1
        walltime: '00:30'
        mem: 4
        modules:
            - 'java'

    sort_bam:
        queue: short
        walltime: '00:30'
        mem: 4
        modules:
            - 'picard/2.9.2'
            - 'samtools/1.3.1'
    
    call_haplotypecaller_gatk:
        queue: com
        walltime: '02:00'
        mem: 8
        modules:
            - 'gatk/3.7'

    combine_gvcf_gatk:
        queue: short
        cores: 1
        walltime: '00:30'
        mem: 30
        modules:
            - 'gatk/3.7'
    
    genotype_gvcf_gatk:
        queue: short
        cores: 8
        walltime: '00:30'
        mem: 30
        modules:
            - 'gatk/3.7'
    
    vt_decompose_normalise
        queue: short
        cores: 1
        walltime: '00:20'
        mem: 8
        modules:
            - 'vt/0.57'
                                                       
    variant_annotator_gatk
        queue: short
        cores: 8
        walltime: '00:30'
        mem: 32
        modules:
            - 'gatk/3.7'
    
    gatk_filter
        queue: short
        walltime: '00:30'
        mem: 16
        modules:
            - 'gatk/3.7'

    apply_vep:
        queue: short
        cores: 24
        walltime: '00:30'
        modules:
            - 'vep/90'


    ## Metrics Generation
    intersect_bed:
        queue: short
        walltime: '00:10'
        mem: 4
        modules:
            - 'bedtools/2.26.0'        

    coverage_bed:
        queue: short
        walltime: '00:10'
        mem: 12
        modules:
            - 'bedtools/2.26.0'
    
    genome_reads:
        queue: short
        walltime: '00:10'
        mem: 2
        modules:
            - 'samtools/1.7'
    
    target_reads:
        queue: short
        walltime: '00:10'
        mem: 2
        modules:
            - 'samtools/1.7'
    
    total_reads:
        queue: short
        walltime: '00:10'
        mem: 2
        modules:
            - 'samtools/1.7'

    generate_stats:
        queue: short
        walltime: '00:30'
        mem: 32
        modules:
            - 'R/3.4.3'

    generate_amplicon_metrics:
        queue: short
        walltime: '00:30'
        mem: 4
        modules:
            - 'bedtools/2.26.0'


pipeline_id: 'haloplex'

# Reference Genome
ref_grch37: /projects/vh83/reference/genomes/b37/bwa_0.7.12_index/human_g1k_v37_decoy.fasta


# agilent software specific files
locatit_bed_file: /whereever it is

# GATK 
interval_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.roverfile_g37.numsort.bed
gatk_jar: /usr/local/gatk/3.7/executable/GenomeAnalysisTK.jar

# Annotation resources
dbsnp_b37: /projects/vh83/reference/genomes/b37/accessory_files/dbsnp_138.b37.vcf
other_vep: /usr/local/vep/90/ensembl-vep/cache
vep_brcaex: /projects/vh83/reference/annotation_databases/BRCA-Exchange/BRCA-exchange_accessed-180118/BRCA-exchange_accessed-180118.sort.vcf.gz
vep_gnomad: /projects/vh83/reference/annotation_databases/gnomAD/gnomad.exomes.r2.0.2.sites/gnomad.exomes.r2.0.2.sites.vcf.gz
vep_revel: /projects/vh83/reference/annotation_databases/REVEL/REVEL-030616/revel_all_chromosomes.vcf.gz
vep_maxentscan: /projects/vh83/reference/annotation_databases/MaxEntScan/MaxEntScan_accessed-240118
vep_exac: /projects/vh83/reference/annotation_databases/ExAC/ExAC_nonTCGA.r0.3.1/ExAC_nonTCGA.r0.3.1.sites.vep.vcf.gz
vep_dbnsfp: /projects/vh83/reference/annotation_databases/dbNSFP/dbNSFPv2.9.3-VEP/dbNSFP-2.9.3.gz
vep_dbscsnv: /projects/vh83/reference/annotation_databases/dbscSNV/dbscSNV1.0-VEP/dbscSNV.txt.gz
vep_cadd: /projects/vh83/reference/annotation_databases/CADD/CADD-v1.3/1000G_phase3.tsv.gz

# The input FASTQ files.

fastqs:
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A03-BS002947-BST-MD0007-C02_S497_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A03-BS002947-BST-MD0007-C02_S497_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A04-BS000212-BST-WM0003-D03_S505_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A04-BS000212-BST-WM0003-D03_S505_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A05-BS000489-BST-WM0006-A02_S513_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A05-BS000489-BST-WM0006-A02_S513_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A06-BS000731-BST-WM0008-C08_S521_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A06-BS000731-BST-WM0008-C08_S521_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A08-BS002733-BST-MD0004-G09_S537_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A08-BS002733-BST-MD0004-G09_S537_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A09-BS002973-BST-MD0007-E05_S545_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A09-BS002973-BST-MD0007-E05_S545_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A10-BS000221-BST-WM0003-E04_S553_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A10-BS000221-BST-WM0003-E04_S553_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A11-BS000511-BST-WM0006-G04_S561_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A11-BS000511-BST-WM0006-G04_S561_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A12-BS000740-BST-WM0008-D09_S569_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A12-BS000740-BST-WM0008-D09_S569_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B01-BS002418-BST-MD0001-G03_S482_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B01-BS002418-BST-MD0001-G03_S482_L001_R2_001.fastq.gz



